.heading{
    max-width: 30rem;

   
    margin-left: 20px;
    margin-top: 40px;
    margin-left: 2.25rem;
  
   
  
    background-color: #f6f6f6;
    margin-top: 1rem;
    color: #4a4a4a;

    .content{

        padding-left: 30px;
        padding-top: 35px;
     
    }

    .innner-content{

        opacity: .8;
        padding-left: 5%;

    }

    .list-content{
       
    display: inline;

    flex-direction: column;
    margin-left: -1.375rem;
    }


  



}