.custom-button {
    min-width: 120px;
    width: auto;
    height: 40px;
    letter-spacing: 0.3px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 12px;
    background-color:red;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;

  
}